<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
                <binding name="LoginCmsSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LoginCmsSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="Afip.Wsfev1.ServiceSoap" name="ServiceSoap" />
            <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"
                binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding"
                contract="Afip.Wsaa.LoginCMS" name="LoginCms" />
        </client>
    </system.serviceModel>
</configuration>