<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SistemaCinderella.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SistemaCinderella.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SistemaCinderella.My.MySettings.Conexion" connectionString="Data Source=Localhost;Initial Catalog=CINDERELLA_LOCAL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SistemaCinderella.My.MySettings.ConexionRemoto" connectionString="3bTQjHHLN8jkQtaJgYs/e9bHnb8gJjPc9toMfRVea7GrTPfdiacS73cv8GtBG1wLnrZDQyC0Azi/MjXUzPYw3j5QlDFnM57xpuWPzIUw6JCt/7AewUvclkZlT5PXCC9i6qPt/E5QKrL1qhuyrgo5AzcZz7X3UTtxqrVNOQMReSY="
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="ExportarFacturas" value="Plantilla\TemplateFacturas.xlsx" />
    <add key="ExportarExcelCheque" value="Plantilla\TemplateCheques.xlsx" />
    <add key="ExportarExcelPlantillaProducto" value="Plantilla\TemplateProducto.xlsx" />
    <add key="ExportarExcelPlantillaProductoSucursal" value="Plantilla\TemplateProductoSucursal.xlsx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <SistemaCinderella.My.MySettings>
      <setting name="NombreListaPrecio" serializeAs="String">
        <value>Público Tigre</value>
      </setting>
      <setting name="ListaPrecio" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MailPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="MailHost" serializeAs="String">
        <value> 74.124.24.4</value>
      </setting>
      <setting name="MailUsuario" serializeAs="String">
        <value>sistema@nodomain.com</value>
      </setting>
      <setting name="MailPassword" serializeAs="String">
        <value>cinderellasist11</value>
      </setting>
      <setting name="ControladorStatus" serializeAs="String">
        <value>SI</value>
      </setting>
      <setting name="MontoTopeFaturacionTicket" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="TemporizadorInternet" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="TemporizadorMensajes" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="Internet" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PuntoVentaFacturacionManual" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PuntoVentaFacturacionTicket" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PuntoVentaFacturacionElectronica" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MontoMaximoNotaCredito" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="ConexionControladora" serializeAs="String">
        <value>USB</value>
      </setting>
      <setting name="TemporizadorMovimientos" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="TemporizadorCheques" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="PuertoHost" serializeAs="String">
        <value>8088</value>
      </setting>
      <setting name="IpHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="TemporizadorNotasPedido" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="MontoTopeFacturacionManual" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="MontoTopeFacturacionElectronica" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="ControladorMontoTope" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="HabilitarExentoSinIVA" serializeAs="String">
        <value>NO</value>
      </setting>
      <setting name="DescuentoMinorista" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Sucursal" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NombreSucursal" serializeAs="String">
        <value>Av. Corrientes</value>
      </setting>
      <setting name="TemporizadorOrdenesCompra" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="GeneracionOrdenCompraAutomatica" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PeriodoCaulculoVentaMensual" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MailSLL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IpPing" serializeAs="String">
        <value>8.8.8.8</value>
      </setting>
      <setting name="IpTimeOut" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="RazonSocial" serializeAs="String">
        <value>Cinderella</value>
      </setting>
      <setting name="TemporizadorSincronizacion" serializeAs="String">
        <value>7200000</value>
      </setting>
      <setting name="TemporizadorActualizacionMemoriaCache" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="UsarMemoriaCache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ModeloControladora" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PaginacionItemsPagina" serializeAs="String">
        <value>50</value>
      </setting>
    </SistemaCinderella.My.MySettings>
  </userSettings>
  <applicationSettings>
    <SistemaCinderella.My.MySettings>
      <setting name="Empresa" serializeAs="String">
        <value>Cinderella</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>as</value>
      </setting>
      <setting name="Temporizador" serializeAs="String">
        <value>300000</value>
      </setting>
    </SistemaCinderella.My.MySettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>