<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SistemaCinderella.My.MySettings.Conexion" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\CINDERELLA_LOCAL.mdf;Integrated Security=True;User Instance=True"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="SistemaCinderella.My.MySettings.ConexionRemoto" connectionString="dvQ0hOnDcJTzuRkzgUypjh7eyOkc/VGs95o8r3GZ8sl7wkgvY/Im+nkQLaRGo/U4vinmucrFTjEVqIUy0j1RU/MQSd+THUU3hi9+Pc1QkP48hSSPYrM8FHryNm071slAKgfhjRcW6moKt7XpCQo3uPNIkPk7sEK4b2EEQ/iv5VBb3Aw3MHPCyiFfWVYByGX6"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>