<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SistemaCinderella.My.MySettings.Conexion" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\CINDERELLA_LOCAL.mdf;Integrated Security=True;User Instance=True"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="SistemaCinderella.My.MySettings.ConexionRemoto" connectionString="3bTQjHHLN8jkQtaJgYs/e9bHnb8gJjPc9toMfRVea7GrTPfdiacS73cv8GtBG1wLnrZDQyC0Azi/MjXUzPYw3pgC+WxU7mZ24h8yszt8P/enW8mqA/PMvG/vtguaISMbEhZi2HijFN3AJGO2dT7Bh1YJJUWo8KuddximsvY16QEcxXZWaW+vsF00/qKBvLyJ"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>