<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SistemaCinderella.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SistemaCinderella.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SistemaCinderella.My.MySettings.Conexion" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\CINDERELLA_LOCAL.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="SistemaCinderella.My.MySettings.ConexionRemoto" connectionString="3bTQjHHLN8jkQtaJgYs/e9bHnb8gJjPc9toMfRVea7GrTPfdiacS73cv8GtBG1wLnrZDQyC0Azi/MjXUzPYw3pgC+WxU7mZ24h8yszt8P/enW8mqA/PMvG/vtguaISMbEhZi2HijFN3AJGO2dT7Bh1YJJUWo8KuddximsvY16QEcxXZWaW+vsF00/qKBvLyJ"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="ExportarExcelPlantillaProducto" value="Plantilla\TemplateProducto.xlsx" />
    <add key="ExportarExcelPlantillaProductoSucursal" value="Plantilla\TemplateProductoSucursal.xlsx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <SistemaCinderella.My.MySettings>
      <setting name="Empresa" serializeAs="String">
        <value>Cinderella</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>as</value>
      </setting>
      <setting name="Temporizador" serializeAs="String">
        <value>300000</value>
      </setting>
    </SistemaCinderella.My.MySettings>
  </applicationSettings>
  <userSettings>
    <SistemaCinderella.My.MySettings>
      <setting name="NombreListaPrecio" serializeAs="String">
        <value>Público Tigre</value>
      </setting>
      <setting name="ListaPrecio" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MailPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="MailHost" serializeAs="String">
        <value> 74.124.24.4</value>
      </setting>
      <setting name="MailUsuario" serializeAs="String">
        <value>sistema@nodomain.com</value>
      </setting>
      <setting name="MailPassword" serializeAs="String">
        <value>cinderellasist11</value>
      </setting>
      <setting name="ControladorStatus" serializeAs="String">
        <value>SI</value>
      </setting>
      <setting name="MontoTopeFaturacionTicket" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="TemporizadorInternet" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="TemporizadorMensajes" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="Internet" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PuntoVentaFacturacionManual" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PuntoVentaFacturacionTicket" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PuntoVentaFacturacionElectronica" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MontoMaximoNotaCredito" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="ConexionControladora" serializeAs="String">
        <value>USB</value>
      </setting>
      <setting name="TemporizadorMovimientos" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="TemporizadorCheques" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="PuertoHost" serializeAs="String">
        <value>8088</value>
      </setting>
      <setting name="IpHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="TemporizadorNotasPedido" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="MontoTopeFacturacionManual" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="MontoTopeFacturacionElectronica" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="ControladorMontoTope" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="HabilitarExentoSinIVA" serializeAs="String">
        <value>NO</value>
      </setting>
      <setting name="DescuentoMinorista" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Sucursal" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NombreSucursal" serializeAs="String">
        <value>Av. Corrientes</value>
      </setting>
      <setting name="TemporizadorOrdenesCompra" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="GeneracionOrdenCompraAutomatica" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PeriodoCaulculoVentaMensual" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MailSLL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IpPing" serializeAs="String">
        <value>8.8.8.8</value>
      </setting>
      <setting name="IpTimeOut" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="RazonSocial" serializeAs="String">
        <value>Cinderella</value>
      </setting>
      <setting name="TemporizadorSincronizacion" serializeAs="String">
        <value>7200000</value>
      </setting>
      <setting name="TemporizadorActualizacionMemoriaCache" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="UsarMemoriaCache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ControladorModelo" serializeAs="String">
        <value>0</value>
      </setting>
    </SistemaCinderella.My.MySettings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>