<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SistemaCinderella.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <!--<add name="SistemaCinderella.My.MySettings.Conexion" connectionString="5DUSLm9b5Ff2KcG40HEqZn5yeP8qoi6ynW6tS0OGXzn9cpMxxsX3m7/x1snuraePCuzJEgPtP7H1Pge2t6kCan+a0MndhZZwM5NxJIqMOtQ="
            providerName="System.Data.SqlClient" />-->
      <add name="SistemaCinderella.My.MySettings.Conexion" connectionString="evspqq8ECq7qdu8uIM8I3jG61TMnuJah+22lqPsWRqN6A98sz+DQLWLAvrJpAj96YF+Tg9f3gO/ylZHUVDkHhRfTbGf7LhqvRQHnHR5QOcs="
            providerName="System.Data.SqlClient" />
        <add name="SistemaCinderella.My.MySettings.ConexionRemoto" connectionString="0Tvkneh8HcrERuMerFzACRwWiZZg35fXKOi3SK1IWATfrSUVr4B1vhig2+uF9RoZjAu0GhQjaJPS83vNW7a6BIgtE9hqLOwzZbQceOJchkSCCcO9DO6GIiUAGeBwHMwztfqBhcEHUcpKfiqT6sAg+Q=="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <applicationSettings>
        <SistemaCinderella.My.MySettings>
            <setting name="Empresa" serializeAs="String">
                <value>Cinderella</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>as</value>
            </setting>
            <setting name="Sucursal" serializeAs="String">
                <value>1</value>
            </setting>
          <setting name="NombreSucursal" serializeAs="String">
            <value>Av. Cabildo</value>
          </setting>
          <setting name="Temporizador" serializeAs="String">
                <value>300000</value>
            </setting>
        </SistemaCinderella.My.MySettings>		 
 </applicationSettings>
</configuration>