<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SistemaCinderella.My.MySettings.Conexion" connectionString="Data Source=Localhost;Initial Catalog=CINDERELLA_LOCAL;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
    <add name="SistemaCinderella.My.MySettings.ConexionRemoto"
      connectionString="dvQ0hOnDcJTzuRkzgUypjh7eyOkc/VGs95o8r3GZ8sl7wkgvY/Im+nkQLaRGo/U4vinmucrFTjEVqIUy0j1RU/MQSd+THUU3hi9+Pc1QkP48hSSPYrM8FHryNm071slAKgfhjRcW6moKt7XpCQo3uPNIkPk7sEK4b2EEQ/iv5VBb3Aw3MHPCyiFfWVYByGX6"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="ServiceSoap">
            <security mode="Transport" />
          </binding>
          <binding name="ServiceSoap1" />
          <binding name="LoginCmsSoapBinding">
            <security mode="Transport" />
          </binding>
          <binding name="LoginCmsSoapBinding1" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"
            binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
            contract="Afip.Wsfev1.ServiceSoap" name="ServiceSoap" />
        <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"
            binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding"
            contract="Afip.Wsaa.LoginCMS" name="LoginCms" />
      </client>
    </system.serviceModel>
  
  
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>