/*
   sábado, 12 de agosto de 201710:09:11 a.m.
   User: 
   Server: TAMBOURS7
   Database: CINDERELLA
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PRESUPUESTO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.VENTAS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE
	(
	id_CuentaCorriente int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE ADD CONSTRAINT
	PK_CLIENTEMAYORISTA_CUENTACORRIENTE PRIMARY KEY CLUSTERED 
	(
	id_CuentaCorriente
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_TIPOMOVIMIENTO
	(
	Id_TipoMovimiento int NOT NULL,
	Descripcion nchar(50) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_TIPOMOVIMIENTO ADD CONSTRAINT
	PK_CLIENTEMAYORISTA_CUENTACORRIENTE_TIPOMOVIMIENTO PRIMARY KEY CLUSTERED 
	(
	Id_TipoMovimiento
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_TIPOMOVIMIENTO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_PAGO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO
	(
	id_Movimiento int NOT NULL,
	id_TipoMovimiento int NOT NULL,
	id_CuentaCorriente int NOT NULL,
	id_Pago int NULL,
	id_Venta int NULL,
	id_Presupuesto int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO ADD CONSTRAINT
	PK_CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO PRIMARY KEY CLUSTERED 
	(
	id_Movimiento
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO ADD CONSTRAINT
	FK_CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO_CLIENTEMAYORISTA_CUENTACORRIENTE_TIPOMOVIMIENTO FOREIGN KEY
	(
	id_TipoMovimiento
	) REFERENCES dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_TIPOMOVIMIENTO
	(
	Id_TipoMovimiento
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO ADD CONSTRAINT
	FK_CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO_CLIENTEMAYORISTA_CUENTACORRIENTE FOREIGN KEY
	(
	id_CuentaCorriente
	) REFERENCES dbo.CLIENTEMAYORISTA_CUENTACORRIENTE
	(
	id_CuentaCorriente
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO ADD CONSTRAINT
	FK_CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO_CLIENTEMAYORISTA_CUENTACORRIENTE_PAGO FOREIGN KEY
	(
	id_Pago
	) REFERENCES dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_PAGO
	(
	id_Pago
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO ADD CONSTRAINT
	FK_CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO_PRESUPUESTO FOREIGN KEY
	(
	id_Presupuesto
	) REFERENCES dbo.PRESUPUESTO
	(
	id_Presupuesto
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO ADD CONSTRAINT
	FK_CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO_VENTAS FOREIGN KEY
	(
	id_Venta
	) REFERENCES dbo.VENTAS
	(
	id_Venta
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CLIENTEMAYORISTA_CUENTACORRIENTE_MOVIMIENTO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
